mat-form-field {
  width: 100%;
  border-color: black;
}

.container {
  width: 100%;
  background-color: white;
  color: black;
  padding: 15px;
  word-wrap: break-word !important;
}

mat-card {
  width: 1000px;

  mat-card-subtitle {
    width: 100%;
  }
}

.centered {
  margin-top: 30%;
}

mat-spinner {
  left: 50%;
  margin-top: 30%;
}

@media screen and (max-width: 467px) {
  mat-card {
    width: 300px;
  }

  .centered {
    margin-top: 60%;
  }
}

a {
  color: black !important;
  text-decoration: underline;
  cursor: pointer;
}

.alert-danger {
  width: 100%;
}
